/*INTERFACE*/
body{
	margin: 0;
	height: 100%;
	color: #636363;
	font-family: open sans,sans-serif;
	font-size: 15px;
}
section{
	height: 100%;
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
	transition: 0.4s;
}
li, ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
button:focus {
	outline:0;
}
input[type=submit], input[type=text], input[type=password]{
	border: none;
}
input[type=submit]{
	background-color: #369b39;
}
select{
	margin: 0;
}
option{
	margin: 0;
	padding: 5px;
}
option:hover{
	background-color: #005aed;
	color: white;
}
.site{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header .top{
	height: 150px;
	background-image: url("../images/top_header.jpg");
	background-size: cover;
	background-position: center;
	background-color: #303030;
}
#clearfix{
	position: relative;
}
#block{
	position: relative;
	height: 25px;
	display: flex;
	background-color: #303030;
	padding: 10px;
	color: white;
	justify-content: center;
	align-items: center;
	border-bottom: solid 4px #e25353;
}
#block span{
	text-align: center;
}
header .top .sign{
	display: flex;
	width: 84%;
	margin: auto;
	justify-content: flex-end;
}
header .top .sign .nick{
	border-right: solid 1px white;
}
header .top .sign .nick, header .top .sign .exit{
	color: white;
	background-color: #369b39;
	height: 40px;
	box-sizing: border-box;
	padding: 10px 20px;
	margin-top: 20px;
}
header .top .sign a, .top .sign .sign_in{
	margin-top: 20px;
	padding: 10px 15px;
}
header .top .sign .sign_in{
	background-color: rgba(255,255,255,0.8);
}
header .top #clearfix form{
	background-color: rgba(255,255,255,0.8);
	width: 200px;
	position: absolute;
	padding: 15px;
	top: 0;
	right: 120px;
	text-align: center;
	z-index: 999;
}
header .top #clearfix form input[type=text], header .top #clearfix form input[type=password]{
	width: 100%;
	padding: 10px;
	height: 30px;
	margin-bottom: 10px;
	box-sizing: border-box;
}
header .top #clearfix form input[type=submit]{
	background-color: #369b39;
	height: 35px;
	width: 70px;
	padding: 5px;
	color: white;
}
header .top .sign a.sign_up{
	color: white;
	background-color: #369b39;
}
header .mobile-menu{
	height: 25px;
	display: none;
	background-color: #303030;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	border-top: solid 4px #e25353;
	padding: 20px;
	color: white;
}
header .mobile-menu:hover{
	background-color: #369b39;

}
header .nav{
	padding: 0 8%;
	background-color: #303030;
	border-top: solid 4px #e25353;
	border-bottom: solid 4px #e25353;
}
header .navbar{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
header .navbar a{
	text-align: center;
	padding: 20px;
	color: white;
}
header .navbar a:hover{
	padding: 20px;
	color: white;
	background-color: #e25353;
}

.main-wrapper{
	flex-grow: 1;
	background-color: #e8e8e8;
}
.main-wrapper .main{
	display: flex;
	flex-direction: column;
	width: 84%;
	margin: 20px auto;
}
.main-wrapper .main .search{
	margin-bottom: 10px;
}
.main-wrapper .main .search form{
	position: relative;
}
.main-wrapper .main .search form input[type=text]{
	font-size: 16px;
	font-style: italic;
	border: solid 1px #d1d1d1;
	padding: 12px 20px;
	width: 100%;
	box-sizing: border-box;
	transition: 0.4;
	height: 55px;
}
.main-wrapper .main .search form input[type=submit]{
	background: url("../images/search.png");
	background-size: cover;
	text-decoration: none;
	position: absolute;
	width: 30px;
	height: 30px;
	right: 10px;
	top: 10px;
	cursor: pointer;
}
/*INTERFACE*/
/*MAIN PAGE BEGIN*/
.main-wrapper .main .slider-container{
	margin-bottom: 10px; 
}
.main-wrapper .main .slider{
	height: 260px;
	overflow: hidden;
	position: relative;
}
.main-wrapper .main .slider button{
	position: absolute;
	color:white;
  	border: none;
  	opacity: 0.3;
  	background-color: black;
  	transition: opacity .5s ease-in;
  	top: 0;
  	bottom: 0;
  	z-index: 2;
  	box-sizing: border-box;
  	box-shadow: 0px 0 2px 10px black;
  	padding: 0 3px;
}
.main-wrapper .main .slider button#left{
	left: 0;
}
.main-wrapper .main .slider button#left:hover{
	opacity: 0.9;
  	box-shadow: 5px 0 20px 10px black;
}
.main-wrapper .main .slider button#right{
	right: 0;
}
.main-wrapper .main .slider button#right:hover{
	opacity: 0.9;
  	box-shadow: -5px 0 20px 10px black;
}
.main-wrapper .main .slider ul{
	height: 100%;
	position: relative;
	white-space: nowrap;
	transition:.6s ease-out;
	display: flex;
}
.main-wrapper .main .slider ul li{
	flex-shrink: 0;
	width: 183px;
	position: relative;
}
.main-wrapper .main .slider ul li a{
	display: flex;
	flex-direction: column;
}
.main .slider a img{
	width: 100%;
}
.main-wrapper .main .slider ul li a div{
	width: 100%;
	padding: 5px;
	min-height: 45px;
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	color: white;
	box-sizing: border-box;
}

.main-wrapper .main .news{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;
}
.news .updates, .news .last_news{
	width: 49%;
}
.news #block a{
	position: absolute;
	right: 10px;
	color: white;
	text-decoration: underline;
}
.news .cont{
	height: 500px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.news .cont li{
	background-color: white;
	height: calc(100%/10);
	transition: 0.4s;
	overflow: hidden;
	border-bottom: solid 1px #b7b7b7;
	box-sizing: border-box;
}
.news .cont li:hover{
	border-left: solid 3px green;
	transition: 0.3s;
}
.news .cont li a{
	display: flex;
	align-items: center;
	height: 100%;
}
.news .cont li a .date{
	height: 100%;
	text-align: center;
	box-sizing: border-box;
	padding: 15px 5px;
	border-right: solid 1px #636363;
}
.news .cont li a img{
	width: 40px;
	height: 100%;
}
.news .cont li a .main-info{
	box-sizing: border-box;
	padding: 0 10px;
	width: calc(100% - 100px);
}
.content-wrapper{
	display: flex;
}
.content-wrapper .content{
	flex-grow: 3;
	margin-right: 10px;
	box-sizing: border-box;
	width: 77%;
}
.content-wrapper .content .latest{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.content-wrapper .content .latest .container{
	display: flex;
	background-color: white;
	margin-bottom: 15px;
	width: 50%;
}
.content .latest .container img{
	width: 170px;
	height: 240px;
}
.content .latest .container .info{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.latest .container .info h3{
	margin: 7px 10px;
}
.latest .container .info h3 a{
	color: #303030;
	transition: .4s;
}
.latest .container .info h3 a:hover{
	color: #e25353;
}
#rating{
	width: 40px;
	text-align: center;
	margin: 2px 10px;
	font-weight: 160;
	border-radius: 5px;
	padding: 0 5px;
	color: white;
	background-color: #f2b800;
}
.latest .container .info .description {
	margin: 2px 10px; 
}
.latest .container .info p{
	margin: 2px 10px;
}
.latest .container .info p span{
	font-weight: bold;
}
.latest .container .info p .genres{
	font-size: 12px;
	font-weight: normal;
}
/*MAIN PAGE END*/
/*ITEM PAGE BEGIN*/
.main-wrapper .main .content-wrapper .item{
	background-color: white;
	padding: 15px;
	word-wrap: break-word;
}
.content .item .poster{
	margin-left: 15px;
	float: right;
	position: relative;
	right: 0;
	top: 0;
	width: 250px;
	height: 350px;
}
.content .item .poster img{
	width: 100%;
	height: auto;
}
.content .item h1{
	padding: 30px 0;
	margin: 0;
	border-bottom: solid 1px #dddddd;
	font-size: 30px;
	font-weight: normal;
}
.content .item .description{
	padding: 15px 0;
}
.content .item .description .info{
	display: flex;
	flex-direction: column;
	min-height: 230px;
}
.content .item .description .info li{
	display: flex;
	margin: 4px 0;
}
.item .description .info li span{
	font-weight: bold;
}
.item .description .info li ul{
	display: flex;
	margin: 0;
}
.content .item .description .info li ul li{
	margin: 0 3px;
}
.item .description .info li div{
	margin: 0 3px;
}
.description .basic-info{
	padding: 10px 0;
}
.item .video{
	margin: 10px 0;
}
.item .video .episodes{
	display: flex;
	flex-wrap: wrap;
	margin: 10px 0;
}
.item .video .video-content{
	position: relative;
	z-index: 201;
}
.item .video .episodes div{
	display: inline-block;
	cursor: pointer;
	width: 42px;
	height: 42px;
	background-color: #303030;
	color: white;
	transition: 0.4s ease-out;
	text-align: center;
	margin: 5px;
	padding: 12px;
	box-sizing: border-box;
}
.item .video .episodes div:hover{
	background-color: #369b39;
}
.item .video .video-player{
	margin-top: 10px;
}
.item .video .video-player iframe{
	width: 100%;
	height: 528px;
	transition: 0.5s;
	border: none;
}
.item .video .episodes .selected{
	background-color: #369b39;
}
.item .video .video-content button{
	cursor: pointer;
	margin: 10px 0;
	background-color: transparent;
	border: solid 1px #636363;
	font-size: 15px;
	padding: 10px;
	height: 37px;
	width: 100px;
}
.cinema-overlay{
	transition: 0.4s;
	background-color: black;
	opacity: 0.9;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 2;
	display: none;
}
/*ITEM PAGE END*/
/*TOP PAGE BEGIN*/
.top-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.anime-column { 
	width: 230px; 
	display: inline-block; 
	vertical-align: top; 
	margin: 10px 0; 
	padding: 0 5px; 
	text-align: center; 
	position: relative; 
	border: none;
    outline: none;
    box-sizing: border-box;
}

.anime-column a { 
	font-weight: 600; 
	text-transform: uppercase; 
	position: relative; 
	display: block; 
	color: #333; 
}

.year-block { 
	position: absolute; 
	color: #333; 
	font-weight: 400; 
	right: 0; 
	padding: 2px 10px; 
	background: #e2e2e2; 
}
 
.preview-info-block { 
	padding: 10px 10px 0 0; 
	max-height: 240px; 
	overflow: auto;
	margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box; 
}
 
.anime-title{
	padding-right: 5px;
	margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
 
.anime-column .rating-info { 
	font-size: 12px; 
	margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
} 

.rating-info { 
	margin-bottom: 10px; 
	position: relative;

}

.main-rating, .main-rating-info { 
	vertical-align: middle; 
	font-size: 12px; 
	margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
/*TOP PAGE END*/
/*INTERFACE*/
.content-wrapper .sidebar{
	flex-grow: 1;
	margin-left: 10px;
	width: 23%;
}
.sidebar .sidebar-content{
	background-color: white;
	box-sizing: border-box;
	padding: 15px;
}
.sidebar .sidebar-content form{
	display: flex;
	flex-direction: column;
}
.sidebar .sidebar-content .part{
	margin-bottom: 10px;
}
.sidebar .sidebar-content .part label{
	display: block;
	margin-bottom: 8px;
}
.sidebar .sidebar-content .part .chosen-multi{
	width: 200px;
	position: absolute;
	display: none;
	top: 0;
}
.sidebar .sidebar-content .part section{
	position: relative;
}
.sidebar .sidebar-content .part .chosen-single{
	width: 100%;
	padding: 5px 10px;
}
.sidebar .sidebar-content .part .forYear{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.sidebar .sidebar-content .part input[type=text]{
	margin: 0;
	padding: 5px;
	width: 100%;
	border: solid 1px #b7b7b7;
	box-sizing: border-box;
}
.sidebar .sidebar-content .part .allselected{
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.sidebar .sidebar-content .part .allselected span{
	border-radius: 5px;
	font-size: 12px;
	background-color: #dddddd;
	padding: 2px 6px;
	margin: 4px;
}
.sidebar .sidebar-content .part div input[type=number]{
	width: 49%;
	padding: 7px 10px;
	box-sizing: border-box;
}
.sidebar .sidebar-content .submit-place{
	margin-top: 15px;
}
.sidebar .sidebar-content .submit-place input[type=submit]{
	width: 100%;
	height: 40px;
	background-color: #369b39;
	color: white;
	font-size: 20px;
	transition: 0.4s;
	opacity: 0.7;
}
.sidebar .sidebar-content .submit-place input[type=submit]:hover{
	opacity: 1;
}
footer{
	height: 170px;
	background-color: #303030;
}
footer .footer_container{
	width: 84%;
	margin: auto;
	padding: 8px 10px;
	box-sizing: border-box;
}
footer .footer_container p{
	margin: 0;
	margin-bottom: 10px;
	color: white;
}
/*INTERFACE*/
@media(max-width: 1325px){
	.main-wrapper .main{
		margin: 20px 5px;
		width: 99%;
	}
	header .top .sign{
		width: 99%;
	}
	footer .footer_container{
		width: 99%;
	}
}
@media(max-width: 1200px){
	header .nav{
		padding: 0;
	}
	header .navbar{
		margin-right: 10px;
	}
	.content-wrapper .content .latest .container{
		width: 100%;
	}

@media(max-width: 1022px){
	header .navbar{
		justify-content: center;
		margin: 0;
	}
	header .navbar a{
		flex-grow: 1;
	}
	header .top{
		background-image: none;
		height: auto;
	}
	header .top .sign{
		justify-content: center;
		align-items: center;
	}
	header .top .sign a, .top .sign .sign_in{
		margin: 10px 0;
	}
	.main .content-wrapper aside{
		display: none;
	}
	.main .content-wrapper .content{
		width: 99%;
		margin: auto;
	}
	.news .updates, .news .last_news{
		width: 100%;
	}
}
@media(max-width: 900px){
	.item .video .video-player iframe{
		height: 360px;
	}
	.main-wrapper .main .slider-container{
		display: none;
	}
	.news .cont li a img{
		display: none;
	}
}
@media(max-width: 780px){
	header .mobile-menu{
		display: flex;
	}
	header .nav{
		border-top: none;
	}
	header .navbar a{
		box-sizing: border-box;
		border-top: solid 1px #e25353;
		border-bottom: solid 1px #e25353;
		width: 50%;
	}
}
@media(max-width: 480px){
	.content .item .poster{
		float: none;
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
	}
	.content .item .description .info{
		min-height: 0;
	}
}