body{
	margin: 0;
	height: 100%;
}
section{
	height: 100%;
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
	transition: 0.4s;
}
li, ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
button:focus {
	outline:0;
}
input[type=submit], input[type=text]{
	border: none;
}
.site{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header .top{
	height: 150px;
	background-image: url("../images/top_header.jpg");
	background-size: cover;
	background-position: center;
}
header .top .sign{
	display: flex;
	width: 84%;
	margin: auto;
	justify-content: flex-end;
}
header .top .sign a{
	margin-top: 20px;
	padding: 10px 15px;
	color: #303030;
}
header .top .sign a.sign_in{
	background-color: rgba(255,255,255,0.8);
}
header .top .sign a.sign_up{
	background-color: #369b39;
}
header .nav{
	padding: 0 8%;
	background-color: #303030;
	border-top: solid 4px #e25353;
	border-bottom: solid 4px #e25353;
}
header .navbar{
	display: flex;
	justify-content: flex-end;
}
header .navbar a{
	padding: 20px;
	color: white;
}
header .navbar a:hover{
	padding: 20px;
	color: white;
	background-color: #e25353;
}

.main-wrapper{
	flex-grow: 1;
	background-color: #e8e8e8;
}
.main-wrapper .main{
	display: flex;
	flex-direction: column;
	width: 84%;
	margin: 20px auto;
}
.main-wrapper .main .search{
	margin-bottom: 10px;
}
.main-wrapper .main .search form{
	position: relative;
}
.main-wrapper .main .search form input[type=text]{
	font-size: 16px;
	font-style: italic;
	border: solid 1px #d1d1d1;
	padding: 12px 20px;
	width: 100%;
	box-sizing: border-box;
	transition: 0.4;
	height: 55px;
}
.main-wrapper .main .search form input[type=submit]{
	background: url("../images/search.png");
	background-size: cover;
	text-decoration: none;
	position: absolute;
	width: 30px;
	height: 30px;
	right: 10px;
	top: 10px;
	cursor: pointer;
}
.main-wrapper .main .slider-container{
	margin-bottom: 10px; 
}
.main-wrapper .main .slider{
	height: 260px;
	overflow: hidden;
	position: relative;
}
.main-wrapper .main .slider button{
	position: absolute;
	color:white;
  	border: none;
  	opacity: 0.3;
  	background-color: black;
  	transition: opacity .5s ease-in;
  	top: 0;
  	bottom: 0;
  	z-index: 2;
  	box-sizing: border-box;
  	box-shadow: 0px 0 2px 10px black;
  	padding: 0 3px;
}
.main-wrapper .main .slider button#left{
	left: 0;
}
.main-wrapper .main .slider button#left:hover{
	opacity: 0.9;
  	box-shadow: 5px 0 20px 10px black;
}
.main-wrapper .main .slider button#right{
	right: 0;
}
.main-wrapper .main .slider button#right:hover{
	opacity: 0.9;
  	box-shadow: -5px 0 20px 10px black;
}
.main-wrapper .main .slider ul{
	height: 100%;
	position: relative;
	white-space: nowrap;
	transition:.6s ease-out;
	display: flex;
}
.main-wrapper .main .slider ul li{
	flex-shrink: 0;
	width: calc(100% / 7);
	position: relative;
}
.main-wrapper .main .slider ul li a{
	display: flex;
	flex-direction: column;

}
.main .slider a img{
	width: 100%;

}
.main-wrapper .main .slider ul li a div{
	width: 100%;
	padding: 5px;
	min-height: 45px;
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	color: white;
	box-sizing: border-box;
}

.main-wrapper .main .news{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.news .updates, .news .last_news{
	width: 49%;
}
#block{
	position: relative;
	height: 25px;
	display: flex;
	background-color: #303030;
	padding: 10px;
	color: white;
	justify-content: center;
	align-items: center;
	border-bottom: solid 4px #e25353;
}
#block span{
	text-align: center;
}
.news #block a{
	position: absolute;
	right: 10px;
	color: white;
	text-decoration: underline;
}
.news .cont{
	height: 400px;
	margin: 0;
	padding: 0;
	border-bottom: solid 4px #e25353;
}
.news .cont li{
	background-color: white;
	padding: 10px;
	height: calc(100%/10);
	transition: 0.4s;
	box-sizing: border-box;
}
.news .cont li:hover{
	border-left: solid 3px green;
	transition: 0.3s;
}

.content-wrapper{
	display: flex;
}
.content-wrapper .content{
	flex-grow: 3;
	margin-right: 10px;
	box-sizing: border-box;
	width: 75%;
}
.content-wrapper .content .latest{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.content-wrapper .content .latest .container{
	display: flex;
	background-color: white;
	margin-bottom: 10px;
	width: 50%;
}
.content .latest .container img{
	width: 180px;
	height: 250px;
}
.content .latest .container .info{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.latest .container .info h3{
	margin: 7px 10px;
}
.latest .container .info .rating{
	width: 40px;
	text-align: center;
	margin: 2px 10px;
	height: 20px;
	border-radius: 5px;
	padding: 3px;
	color: white;
	background-color: #f4d142;
}
.latest .container .info .description {
	margin: 2px 10px; 
}
.latest .container .info p{
	margin: 2px 10px;
}
.latest .container .info p span{
	font-weight: bold;
}
.latest .container .info p .genres{
	font-size: 12px;
	font-weight: normal;
}


.content-wrapper .sidebar{
	flex-grow: 1;
	margin-left: 10px;
	width: 25%;
}



footer{
	color: white;
	padding: 10px;
	text-align: center;
	background-color: #303030;
}